/* Add screen styles below */

body {
    background: rgb(0,158,6);
    background: linear-gradient(48deg, rgba(0,158,6,1) 10%, rgba(255,255,255,1) 50%, rgba(255,180,243,1) 90%);
}

h1 {
    margin: 50px;
    text-align: center;
}

h2 {
    margin: 50px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.btn-toolbar {
    margin: 0 auto;
    float: none;
    margin-top: 50px;
    margin-bottom: 50px;
}